<link rel="stylesheet" type="text/css" href="/tutor/static/tutor/codemirror/lib/codemirror.css"></link>
<link rel="stylesheet" type="text/css" href="/tutor/static/tutor/codemirror/theme/eclipse.css"></link>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/sunny/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/tutor/static/tutor/css/problem.css"></link>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="/tutor/static/tutor/codemirror/lib/codemirror.js"></script>
<script src="/tutor/static/tutor/codemirror/mode/python/python.js"></script>
<script src="/tutor/static/tutor/codemirror/mode/clike/clike.js"></script>
<script src="/tutor/static/tutor/js/problem.js"></script>

{% block header %}
<div id = 'header'>

<span class = 'header_left'>
	{% if user.is_authenticated %}
		Hello, {{ user.username }}!
	{% endif %}
</span>
<span class = 'header_right'>
	{% if user.is_authenticated %}
		<span id = "logout" class = "header_button"><a href = "/accounts/logout">Logout</a></span>
	{% else %}
		<span id = "login" class = "header_button">Login</span>
		<span id = "sign_up" class = "header_button"><a href = "/tutor/create">Sign Up</a></span>
	{% endif %}
</span>

</div>
{% endblock %}

{% block content %}
content
{% endblock %}